<% if (page.prev || page.next){ %>
<div class="widget-wrap center">
  <h3 class="widget-title">&nbsp;</h3>
  <ul class="pagination">
    <li>
      <% if (page.prev){ %>
        <a href="<%- config.root %><%- page.prev.path %>" class="nav-prev">Prev</a>
      <% } else { %>
        <span class="nav-prev disabled">Prev</span>
      <% } %>
    </li>
    <li>
      <% if (page.next){ %>
        <a href="<%- config.root %><%- page.next.path %>" class="nav-next">Next</a>
      <% } else { %>
        <span class="nav-next disabled">Next</span>
      <% } %>
    </li>
  </ul>
</div>
<% } %>
