// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-white = #FFF
color-default = #555
color-grey = #999
color-border = #ddd
color-link = #F79256
color-background = #fff
color-widget-background = #ddd
color-widget-border = #ccc
color-footer-background = #262a30
color-mobile-nav-background = #191919
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39

palete-red = #00B2CA
color-head-text = #00B2CA

color-primary = #00B2CA
color-secondary = #7DCFB6

// Fonts
font-sans = "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 18px
line-height = 1.6rem
line-height-title = 1.1rem

// Header
logo-size = 4rem
subtitle-spacing = 7vw
subtitle-size = 2vw
banner-height = 300px
banner-url = "images/3842521.png"

linkTransition()
    transition: color 0.2s, text-shadow 0.5s


// Layout
block-margin = 50px
article-padding = 20px
mobile-nav-width = 280px
main-column = 9

// Grids
column-width = 80px
gutter-width = 20px
columns = main-column

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"


// shadows LESS

BoxShadowHelper1()
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
BoxShadowHelper2()
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
BoxShadowHelper3()
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
BoxShadowHelper4()
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
BoxShadowHelper5()
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

TextShadowHelper1()
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
TextShadowHelper2()
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
TextShadowHelper3()
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
TextShadowHelper4()
    text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
TextShadowHelper5()
    text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
