<div class="container widget">
	<div class="row">
		<div class="self col-md-6 col-md-offset-3">
			<h3>
				<img src="/css/images/self.png" style="float:left; margin-right: 12px;">Adam Sanderson
			</h3>
			<p>
				I am a front-end developer. My day-to-day work is with JavaScript which is lucky because that's the part of web development I find most interesting.
			</p>
			<p>
				I've had an idea for a local developer meet-up in Hastings called <a href="http://devtings.net">Devtings</a>
			</p>
		</div>
	</div>
</div>