.footer
  background: color-link
  padding: 50px 0
  padding-left: 3%
  color: color-background

.footer--link
  color: color-background
  text-decoration: none
  &:hover
    text-decoration: underline

.footer--info
  line-height: line-height
  font-size: 0.85em