.header
  background-color: color-link

$logo-text
  text-decoration: none
  color: color-background
  font-weight: 300
  linkTransition()
  TextShadowHelper3()

.logo
  @extend $logo-text
  font-size: logo-size
  line-height: 1.4em
  font-weight: bold
  display: flex
  flex-wrap: wrap
  align-items: center
  max-width: 670px
  margin: 0 auto;

.logo--title
  flex: 3 3 30%
  fill: color-background
  transition: fill 0.2s, text-shadow 0.5s
  align-self: flex-end
  margin: 0 1.2rem
  max-height: 200px
  &:hover
    fill: color-white
    TextShadowHelper4()

.logo--img
  flex: 0 1
  align-self: flex-start
  margin: 0 0 0 1.2rem
  border: 2px solid color-white
  border-top-width: 0
  border-bottom-left-radius: 3px
  border-bottom-right-radius: 3px
  BoxShadowHelper3()

.nav
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0 0
  padding: 0 0 20px 0

.nav--icon
  linkTransition()
  TextShadowHelper2()
  fill: color-background
  text-decoration: none
  font-family: font-icon
  text-align: center
  font-size: logo-size - 1
  margin: 0 10px
  padding: 0
  cursor: pointer
  flex: 1
  max-height: 48px
  // &:first-child
  //   margin-left: 0
  svg
    height: 48px
    width: 48px
  &:hover
    stroke: color-white
    fill: color-secondary
    TextShadowHelper3()