.home
  &__item
    margin-bottom: line-height
  &__link
    color: color-secondary
    text-decoration: none
    linkTransition()
    font-size: line-height
    &:hover
      color: color-primary
  &__subtitle
    color: color-default
    line-height: line-height
    margin: line-height 0