.title__container
  padding: 0
  background-color: color-secondary

.title__layout
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 2.6rem 20px

.title__content
  text-decoration: none
  font-size: 2em
  font-weight: bold
  color: color-background
  linkTransition()
  TextShadowHelper1()

.title__link
  &:hover
    text-decoration: underline