<header id="header">
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %><img src="<%- gravatar('adam@adamsanderson.co.uk', 200) %>" class="header-img"></a>
      </h1>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a href="/archives" class="nav-icon nav-archive" title="Archives"></a>
        <% if (theme.rss){ %>
          <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="RSS Feed" title="Subscribe"></a>
        <% } %>
        <a href="https://github.com/adsanderson" class="nav-icon nav-github" title="Github"></a>
        <a href="https://twitter.com/lazydayed" class="nav-icon nav-twitter" title="Twitter"></a>
        <a href="https://uk.linkedin.com/in/adamdamiensanderson" class="nav-icon nav-linkedin" title="LinkedIn"></a>
      </nav>
    </div>
  </div>
</header>
